.player-container {
    height: calc(100vh - 200px);
    width: calc(100vw - 200px);
    position: absolute;
    top: 100px;
    left: 100px;
    position: absolute;
}
#player {
    display:none;
    position:absolute;
    background-color:#000;
    width: 100%;
    height: 100%;
    z-index:999;
    border-radius: 2px;
}
#player>.title {
    padding:10px;
    width:calc(100% - 20px);
    height:40px;
    color:#fff;
    font-size: initial;
}
#player>.close {
    padding: 10px 0;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    height:40px;
    width:40px;
    color:#fff;
}
#player>.close>a {
    color:#fff;
}
#player>video {
    width: 100%;
    height: calc(100% - 40px);
}
.push {
    height: 13em;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.stars-rating .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	word-wrap: normal;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}
.stars-rating i {
	cursor :  pointer;
}
