<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/jquery.star.rating.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/nouislider.js"></script>
  <script src="js/init.js"></script>

  <nav class="indigo lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="." class="brand-logo"> <img src="./images/open_mediacenter.png" alt="Logo" style="width:130px;height:64px;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Musiques</a></li>
        <li><a href="movies.php">Films</a></li>
        <li><a href="tv_shows.php">Séries</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Musiques</a></li>
        <li><a href="movies.php">Films</a></li>
        <li><a href="tv_shows.php">Séries</a></li>
      </ul>
      <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <script>
      $('.button-collapse').sideNav({
       menuWidth: 200, // Default is 240
       edge: 'left', // Choose the horizontal origin
       closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
       draggable: true // Choose whether you can drag to open on touch screen
      }
      );
      </script>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <div class="push"></div>

  {{ include('footer.html') }}

  </body>
</html>
