{% extends 'base.html' %}
{% set title = vars.show ~ ' - Saison ' ~ vars.season ~ ' - Episode ' ~ vars.episode %}
{% block content %}

<div class="container">
    <div class="section">

    </div>
    <div class="section">
        <div class="row">
            <div class="col s12 m4 l3">
                <a href="javascript:play()"><img class="responsive-img hoverable z-depth-1" src="{{ vars.ep_thumb[vars.episode] }}" /></a>
            </div>
            <div class="col s16 m8 l9">
                <h4><a href="tv_shows.php?show={{ vars.show }}">{{ vars.show }}</a> - <a href="tv_shows.php?show={{ vars.show }}&season={{ vars.season }}">Saison {{ vars.season }}</a></h4>
                <h5>{{ vars.episode }} - {{ vars.episode_info.Title|default('Episode ' ~ vars.episode) }}</h5>
                <p>
                    <div class="chip">{{ vars.episode_info.Aired|default('0000-00-00') }}</div>
                    <div class="chip">{{ vars.episode_info.Runtime|default('00') }} mins</div>
                    <div class="chip">
                        <img src="images/star-icon.png" alt="étoile" />
                        {{ vars.episode_info.Rating|default('ND') }}/10
                    </div>
                </p>
                <a class="waves-effect waves-light btn-floating btn-large blue" href="javascript:play()"><i class="material-icons large left">play_arrow</i>Lire</a>
                &nbsp;
                <a class="waves-effect waves-light btn btn-large blue" href="tv_shows.php?show={{ vars.show }}&season={{ vars.season }}&episode={{ vars.episode }}&edit"><i class="right large material-icons">mode_edit</i>editer</a>
                <p>{{ vars.episode_info.Plot }}</p>
                <a target="_blank" href="http://thetvdb.com/?tab=episode&id={{ vars.episode_info.Id }}">TheTVDB</a>
                {{ include('player.html', {url: vars.episode_url, title: vars.show ~ ' - S' ~ vars.season ~ ' - E' ~ vars.episode ~ ' - ' ~ vars.episode_info.Title}) }}
            </div>
        </div>
    </div>
    <div class="section">
    <br /><br /><br />
    </div>
</div>
{% endblock %}
