<footer class="page-footer indigo lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Informations</h5>
          <p class="grey-text text-lighten-4">Projet XML de 3ème année réalisé au sein du centre de formation <a class="orange-text text-lighten-3" href="http://cs2i-bourgogne.com/">CS2I Bourgogne</a>.</p>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Nous retrouver</h5>
          <ul>
            <li><a class="orange-text text-lighten-3" href="https://twitter.com/Ballouw18">Romain Blondet</a></li>
            <li><a class="orange-text text-lighten-3" href="https://twitter.com/Mhystes">Clément Duplessis</a></li>
            <li><a class="orange-text text-lighten-3" href="https://twitter.com/druz320">Arsène Thieffry</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Créé par <a class="orange-text text-lighten-3" >BLONDET Romain, DUPLESSIS Clément, THIEFFRY Arsène</a>
      </div>
    </div>
  </footer>
