{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="section"></div>
    <div class="row">
    <form class="col s12 m8 offset-m2" action="{{ page }}&edited" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="path" type="text" class="validate" disabled value="{{ path }}">
          <label for="path">Chemin</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="title" value="{{ infos.Title }}" required>
          <label for="title">Titre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s11">
          <input id="id" type="number" class="validate" name="id" value="{{ infos.Id }}">
          <label for="id">Identifiant TheTVDB</label>
        </div>
        <div class="col s1">
            <a class="btn-floating btn-large blue right" href="javascript:autofill_episode()">
                <i class="material-icons">search</i>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <select name="content_rating" required>
              <option value=" ">Choisisez la classification</option>
{% for key, val in infos.ContentRating %}
              <option value="{{ key }}"{{ val }}>{{ key }}</option>
{% endfor %}
            </select>
            <label>Système de classification</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!--<div class="stars-rating yellow-text text-darken-2"></div>-->
          <input id="rating" type="number" class="validate" name="rating" min="0" max="10" value="{{ infos.Rating }}">
          <label for="rating">Note (0-10)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="runtime" type="number" class="validate" name="runtime" min="0" value="{{ infos.Runtime }}">
          <label for="runtime">Durée moyenne d'un épisode (en minutes)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="year" type="number" class="validate" name="year" value="{{ infos.Year }}" min="0000" max="9999">
          <label for="year">Année</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="genres" type="text" class="validate" name="genres" value="{{ infos.Genres }}">
          <label for="genres">Genres</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="plot" type="text" class="materialize-textarea" name="plot">{{ infos.Plot }}</textarea>
          <label for="plot">Intrigue</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="persons" type="text" class="validate" name="persons" value="{{ infos.Persons }}">
          <label for="persons">Personnes</label>
        </div>
      </div>
      <a class="btn waves-effect waves-light left grey" href="{{ page }}">Annuler</a>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Sauvegarder
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
{% endblock %}
