{% extends 'base.html' %}
{% block content %}
<div id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center indigo-text">OpenMediaCenter</h1>
    <div class="row center">
      <h5 class="header col s12 light">Bienvenue sur OpenMediaCenter ! Libre, simple et puissant!</h5>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center light-blue-text"><i class="material-icons">play_circle_filled</i></h2>
            <h5 class="center">Musiques</h5>
          </a>

          <p class="light">Ecoutez votre musique préférée sans interruption où que vous soyez le tout sans publicité.</p>
        </div>
    </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="movies.php">
            <h2 class="center light-blue-text"><i class="material-icons">theaters</i></h2>
            <h5 class="center">Films</h5>
          </a>

          <p class="light">Regardez vos films favoris n'importe où, quand vous voulez. Le cinéma se situe désormais dans votre canapé.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
            <a href="tv_shows.php">
              <h2 class="center light-blue-text"><i class="material-icons">videocam</i></h2>
              <h5 class="center">Séries</h5>
            </a>

          <p class="light">Un nouvel épisode de votre série favorite à regarder ? Faites le ici.</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
