{% extends 'base.html' %}
{% set title = 'Films' %}
{% block content %}
    {{ include('title.html') }}
    <div class="container">
        <div class="section">
            <div class="row">
            {% for key, movie in vars.movies %}
                <div class="col s12 m6 l3">
                    <div class="card hoverable">
                        <a href="movies.php?movie={{ movie }}">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ vars.movies_poster[movie]|default('https://dummyimage.com/680x1000/dfdfdf/9f9f9f.jpg&text=' ~ movie) }}" alt="{{ movie }}" width="680">
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4 truncate">{{ movie }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
