{% extends 'base.html' %}
{% set title = vars.movie_info.Title %}
{% block content %}
    {{ include('title.html') }}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4 l3">
                    <a href="javascript:play()"><img class="responsive-img hoverable z-depth-1" src="{{ vars.movies_poster[vars.movie]|default('https://dummyimage.com/680x1000/dfdfdf/9f9f9f.jpg&text=' ~ vars.movie) }}" alt="{{ movie }}" /></a>
                </div>
                <div class="col s16 m8 l9">
                    <div class="row">
                    {% for genre in vars.movie_info.Genres.Genre %}
                        <div class="chip">{{ genre }}</div>
                    {% endfor %}


                        <div class="chip right">
                            <img src="images/star-icon.png" alt="étoile">
                            {{ vars.movie_info.Rating|default('ND') }}/10
                        </div>
                    </div>

                    <div class="row">
                        <a class="waves-effect waves-light btn-floating btn-large blue" href="javascript:play()"><i class="material-icons large left">play_arrow</i>Lire</a>
                        &nbsp;
                        <a class="waves-effect waves-light btn btn-large blue" href="movies.php?movie={{ vars.movie }}&edit"><i class="right large material-icons">mode_edit</i>editer</a>
                    </div>

                    <div class="row">
                        <p class="header left-align"><b>Intrigue</b> : {{ vars.movie_info.Plot }}</p>
                        {{ include('player.html', {url: vars.movie_url, title: vars.movie_info.Title}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
        </div>
    </div>
{% endblock %}
