
<div class="player-container" style="display:none;">
    <div id="player" class="z-depth-5">
        <div class="title valign">{{ title }}</div>
        <div class="close valign-wrapper"><a href="javascript:close()"><i class="material-icons right valign">close</i></a></div>
        <video src="{{ url }}" type="video/mp4" controls="" class="responsive-video">{{ title }}</video>
    </div>
</div>

<script>
var player = document.getElementById('player');
var video = player.getElementsByTagName('video')[0];

function close() {
    video.pause();
    video.currentTime = 0;
    player.style.display = 'none';
    player.parentElement.style.display = 'none';
}
function play() {
    player.style.display = 'block';
    player.parentElement.style.display = 'block';
    video.play();
}
</script>
