{% extends 'base.html' %}
{% set title = vars.show ~ ' - Saison ' ~ vars.season %}
{% block content %}
<div class="container">
    <div class="section">

    </div>
    <div class="section">
        <div class="row">
            <div class="col s12 m4 l3">
                <img class="responsive-img z-depth-1" src="{{ vars.seasons_poster[vars.season]|default('https://dummyimage.com/400x578/dfdfdf/9f9f9f.jpg&text=Saison+' ~ vars.season) }}" />
            </div>
            <div class="col s16 m8 l9">
                <h4><a href="tv_shows.php?show={{ vars.show }}">{{ vars.show }}</a></h4>
                <h5>Saison {{ vars.season }}</h5>
            </div>
        </div>
        <div class="row">
        {% for episode in vars.episodes|keys %}
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <a href="tv_shows.php?show={{ vars.show }}&season={{ vars.season }}&episode={{ episode }}">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ vars.ep_thumb[episode] }}" alt="Episode {{ episode }}" width="280">
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">Episode {{ episode }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
