<div id="index-banner">
    <div class="container">
        <br /><br />
        <h1 class="header center indigo-text">{{ title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light"></h5>
        </div>
    </div>
</div>
