{% extends 'base.html' %}
{% set title = 'Séries' %}
{% block content %}
    {{ include('title.html') }}
    <div class="container">
        <div class="section">
            <div class="row">
            {% for key, show in vars.shows %}
                <div class="col s12 m6 l3">
                    <div class="card hoverable">
                        <a href="tv_shows.php?show={{ show }}">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ vars.shows_poster[key]|default('https://dummyimage.com/680x1000/dfdfdf/9f9f9f.jpg&text=' ~ show) }}" alt="{{ show }}" width="680">
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4 truncate">{{ show }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
