{% extends 'base.html' %}
{% set title = vars.show_info.Title %}
{% block content %}
    {{ include('title.html') }}
    <div class="container">
        <div class="section">
            {% for genre in vars.show_info.Genres.Genre %}
                <div class="chip">{{ genre }}</div>
            {% endfor %}

            <div class="row right">
                <div class="chip">
                    <img src="images/star-icon.png" alt="étoile">
                    {{ vars.show_info.Rating|default('ND') }}/10
                </div>
            </div>

            <div class="row">
                <p class="header col s12 left-align"><b>Intrigue</b> : {{ vars.show_info.Plot }}</p>
                <a class="waves-effect waves-light btn btn-large blue right" href="tv_shows.php?show={{ vars.show }}&edit"><i class="right large material-icons">mode_edit</i>editer</a>
            </div>
        </div>
        <div class="section">
            <div class="row">
                {% for season in vars.seasons|keys %}
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <a href="tv_shows.php?show={{ vars.show }}&season={{ season }}">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img src="{{ vars.seasons_poster[season]|default('https://dummyimage.com/400x578/dfdfdf/9f9f9f.jpg&text=Saison+' ~ season) }}" alt="Saison {{ season }}" width="680">
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-text text-darken-4">Saison {{ season }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
